<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ wtitle }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            {{ encore_entry_link_tags('backend_app') }}
        {% endblock %}
    </head>
    <body>

        {% block flash_messages %}
            {% include "backend/assets/_flash.html.twig" %}
        {% endblock %}

        {% block main %}
            <div class="main-wrapper" id="app">
                {% block side %}
                    {% include "backend/assets/_sidebar.html.twig" %}
                {% endblock %}
                <div class="page-wrapper">
                    {% include "backend/assets/_header.html.twig" %}
                    <div class="page-content">
                        {% block body %}{% endblock %}
                    </div>
                    {% include "backend/assets/_footer.html.twig" %}
                </div>
            </div>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('backend_app') }}

            {% if socket_url is not empty %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>

            <script>
                (function () {

                    var socket = null;

                    var onMessage = function (data) {
                        try {
                            data = JSON.parse(data);
                            data = JSON.parse(data.content);
                        } catch (e) {
                            data = {"action":"dialog", "message":data};
                        }

                        if (data.action == 'dialog') {
                            //alert(data.message);
                            $.notify(data.message);
                        }

                        console.log(data);
                        socket.emit('logs', data);
                    };

                    var connectToServer = function () {
                        socket = io.connect('{{ socket_url }}');
                        socket.on('notification', onMessage);
                    };

                    connectToServer();

                })();
            </script>

            {% endif %}

        {% endblock %}

    </body>
</html>