{% extends 'backend/defaults/datatable.html.twig' %}

{% block body_title %}{{ 'Pages'|trans }}{% endblock %}

{% block body_edit %}
    <a href="{{ path('pages.edit') }}" class="btn btn-secondary btn-icon-text">
        <i class="btn-icon-prepend" data-feather="plus-square"></i>
        {{ 'act.create'|trans }}
    </a>
{% endblock %}