{% extends 'backend/defaults/editform.html.twig' %}

{% block body_title %}{{ 'Term'|action|trans }}{% endblock %}

{% block body_back %}
    <a href="{{ path('term.index', {'type': app.request.get('type')}) }}" class="btn btn-secondary btn-icon-text">
        <i class="btn-icon-prepend" data-feather="arrow-left-circle"></i>
        {{ 'act.back'|trans }}
    </a>
{% endblock %}